{%extends 'myapp/home.html'%}
{% load static %}
{% block content %}
    <div class="content">
    <script src="{% static 'myapp/js/echarts/echarts.min.js' %}"></script
        <div class="container-fluid">

            <!--第一行：饼状图和折线图-->
            <div class="row" >
                <div id="main" class="card" style="width: 50%;height:400px;"></div>
                <div id="main2" class="card" style=" width: 50%;height:400px;"></div>
                <script type="text/javascript">
                    //接收视图函数传递过来的参数
                    var item_list = {{ jobType|safe }}
                    var val_list={{ val_list|safe }}

                    var myBarChart = echarts.init(document.getElementById('main'));
                    //饼状图的配置项和数据
                    var option_bar = {
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                        },
                        legend: {
                            orient: 'horizontal',
                            x: 'left',
                            data:item_list,
                        },
                        series: [
                            {
                                name:'不同职业数量统计',
                                type:'pie',
                                radius: ['50%', '70%'],
                                avoidLabelOverlap: true,
                                label: {
                                    normal: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        show: false,
                                        textStyle: {
                                            fontSize: '30',
                                            fontWeight: 'bold'
                                        }
                                    }
                                },
                                labelLine: {
                                    normal: {
                                        show: false
                                    }
                                },
                                data:val_list
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myBarChart.setOption(option_bar);

                    //折线图统计
                    var myLineChart=echarts.init(document.getElementById('main2'));
                    var option_line={
                        title:{
                            text:"招聘网站月份职位数目统计"
                        },

                        xAxis: {
                            type: 'category',
                            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月','8月', '9月', '10月', '11月', '12月']
                         },
                        yAxis: {
                            type: 'value'
                          },
                        series: [{
                                  data: [30000, 35000, 25000, 23000, 21000],
                                  type: 'line',
                                  smooth: true
                        }]
                      };
                    myLineChart.setOption(option_line);
                    //设置图片自适应窗口大小
                    window.addEventListener("resize",function(){
                        myBarChart.resize();
                        myLineChart.resize();
                    });
                </script>
            </div>
            <!--堆叠图：每个行业不同月份职位分布-->
            <div>
                <div class="card"id="StackMaps" style="width: 100%;height: 400px;"></div>
                <script type="text/javascript">
                    var item_list={{ jobType|safe }}
                    {#var val_list={{ none }}#}

                    var  myStackMaps=echarts.init(document.getElementById('StackMaps'));
                    var option = {
                            title: {
                                text: '行业职位月份统计'
                            },
                            tooltip : {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data:item_list
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis : [
                                {
                                    type : 'category',
                                    boundaryGap : false,
                                    data : ['4月', '5月', '6月', '7月','8月', '9月', '10月', '11月', '12月']
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value'
                                }
                            ],
                            series : [

                                {
                                    name:'互联网IT',
                                    type:'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:[220, 182, 191, 234, 290, 330, 310]
                                },
                                {
                                    name:'金融',
                                    type:'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:[150, 232, 201, 154, 190, 330, 410]
                                },
                                {
                                    name:'房地产/建筑',
                                    type:'line',
                                    stack: '总量',
                                    areaStyle: {normal: {}},
                                    data:[320, 332, 301, 334, 390, 330, 320]
                                },
                                {
                                    name:'贸易/销售',
                                    type:'line',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    areaStyle: {normal: {}},
                                    data:[820, 932, 901, 934, 1290, 1330, 1320]
                                },
                                {
                                    name:'教育/传媒/广告',
                                    type:'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:[120, 132, 101, 134, 90, 230, 210]
                                },
                                {
                                    name:'服务业',
                                    type:'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:[120, 132, 101, 134, 90, 230, 210]
                                },
                                {
                                    name:'市场/销售',
                                    type:'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:[120, 132, 101, 134, 90, 230, 210]
                                },
                                {
                                    name:'人事/财务/行政',
                                    type:'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:[120, 132, 101, 134, 90, 230, 210]
                                },
                            ]
                        };
                    myStackMaps.setOption(option);
                </script>
            </div>

        </div>

    </div>
{% endblock %}

