{% extends 'myapp/home.html' %}
{% load static %}
{% block content %}
    <script type="text/javascript" src="{% static 'myapp/js/echarts/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myapp/js/echarts/echarts-gl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myapp/js/echarts/echarts-stat/ecStat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myapp/js/extension/dataTool.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myapp/js/map/js/china.js' %}"></script>
    <script type="text/javascript" src="{% static 'myapp/js/map/js/world.js' %}"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak="></script>
    <script type="text/javascript" src="{% static 'myapp/js/extension/bmap.min.js' %}"></script>

    <div class="content">
        <!--数据库数据显示-->
        <div class="row">
            <!--详细页(地图)-->
            <div class="col-md-8">
                <div class="card" id="map" style="width: 100%;height:825px; "></div>
            </div>
            <!--详细页右栏-->
            <div class="col-md-4">
                <div class="card" id='right_top' style="height: 400px;width: 100%;padding: auto"></div>
                <div class="card" id='right_bottom' style="height: 400px;width: 100%;padding: auto"></div>
            </div>
        </div>
    </div>
    <!--接收数据-->
    <script>
        var data ={{ map_data|safe }};
        var result_al ={{ ringt_top_data|safe }};
        var pie_data ={{ right_bottom_data|safe }};
    </script>
    <!--引入echartsJS代码-->
    <script type="text/javascript" src="{% static 'myapp/js/showInPage/index.js' %}"></script>
{% endblock %}
