{% extends 'myapp/home.html' %}
{% load static %}
{% block jsmodel %}
    <script src="{% static 'myapp/js/China_city_js.js' %}"></script>
{% endblock %}

{% block content %}
        <!--此处加载城市分布统计图-->
        <!--此处加载全国分布统计图-->
        <div class="content" id="fixed_sidebar" style="width:800px;height:400px;"></div>
        <script type="text/javascript">

        var myChart_b98861907f3d478096ff126047220a18 = echarts.init(document.getElementById('fixed_sidebar'), 'light', {renderer: 'canvas'});

        var option_b98861907f3d478096ff126047220a18 = {
            "title": [
                {
                    "text": "China",
                    "left": "auto",
                    "top": "auto",
                    "textStyle": {
                        "fontSize": 18
                    },
                    "subtextStyle": {
                        "fontSize": 12
                    }
                }
            ],
            "toolbox": {
                "show": true,
                "orient": "vertical",
                "left": "95%",
                "top": "center",
                "feature": {
                    "saveAsImage": {
                        "show": true,
                        "title": "save as image"
                    },
                    "restore": {
                        "show": true,
                        "title": "restore"
                    },
                    "dataView": {
                        "show": true,
                        "title": "data view"
                    }
                }
            },
            "series_id": 4660867,
            "tooltip": {
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "textStyle": {
                    "fontSize": 14
                },
                "backgroundColor": "rgba(50,50,50,0.7)",
                "borderColor": "#333",
                "borderWidth": 0
            },
            "series": [
                {
                    "type": "map",
                    "name": "\u4e92\u8054\u7f51\u884c\u4e1a\u804c\u4f4d\u6570\u91cf\u5206\u5e03",
                    "symbol": "circle",
                    "label": {
                        "normal": {
                            "show": true,
                            "position": "top",
                            "textStyle": {
                                "fontSize": 12
                            }
                        },
                        "emphasis": {
                            "show": true,
                            "textStyle": {
                                "fontSize": 12
                            }
                        }
                    },
                    "mapType": "china",
                    "data": [
                        {
                            "name": "\u5317\u4eac",
                            "value": 1841
                        },
                        {
                            "name": "\u5929\u6d25",
                            "value": 232
                        },
                        {
                            "name": "\u4e0a\u6d77",
                            "value": 920
                        },
                        {
                            "name": "\u91cd\u5e86",
                            "value": 124
                        },
                        {
                            "name": "\u6e56\u5317",
                            "value": 469
                        },
                        {
                            "name": "\u5c71\u897f",
                            "value": 73
                        },
                        {
                            "name": "\u9655\u897f",
                            "value": 346
                        },
                        {
                            "name": "\u5c71\u4e1c",
                            "value": 281
                        },
                        {
                            "name": "\u6cb3\u5357",
                            "value": 452
                        },
                        {
                            "name": "\u8fbd\u5b81",
                            "value": 191
                        },
                        {
                            "name": "\u5409\u6797",
                            "value": 104
                        },
                        {
                            "name": "\u9ed1\u9f99\u6c5f",
                            "value": 60
                        },
                        {
                            "name": "\u6c5f\u82cf",
                            "value": 435
                        },
                        {
                            "name": "\u6d59\u6c5f",
                            "value": 356
                        },
                        {
                            "name": "\u5b89\u5fbd",
                            "value": 145
                        },
                        {
                            "name": "\u6c5f\u897f",
                            "value": 67
                        },
                        {
                            "name": "\u798f\u5efa",
                            "value": 178
                        },
                        {
                            "name": "\u6cb3\u5317",
                            "value": 167
                        },
                        {
                            "name": "\u6e56\u5357",
                            "value": 258
                        },
                        {
                            "name": "\u56db\u5ddd",
                            "value": 793
                        },
                        {
                            "name": "\u8d35\u5dde",
                            "value": 51
                        },
                        {
                            "name": "\u4e91\u5357",
                            "value": 48
                        },
                        {
                            "name": "\u5e7f\u4e1c",
                            "value": 550
                        },
                        {
                            "name": "\u6d77\u5357",
                            "value": 34
                        },
                        {
                            "name": "\u7518\u8083",
                            "value": 28
                        },
                        {
                            "name": "\u9752\u6d77",
                            "value": 10
                        },
                        {
                            "name": "\u53f0\u6e7e",
                            "value": 0
                        },
                        {
                            "name": "\u5185\u8499",
                            "value": 0
                        },
                        {
                            "name": "\u65b0\u7586",
                            "value": 12
                        },
                        {
                            "name": "\u897f\u85cf",
                            "value": 0
                        },
                        {
                            "name": "\u5e7f\u897f",
                            "value": 30
                        },
                        {
                            "name": "\u5b81\u590f",
                            "value": 8
                        },
                        {
                            "name": "\u9999\u6e2f",
                            "value": 12
                        },
                        {
                            "name": "\u6fb3\u95e8",
                            "value": 0
                        }
                    ],
                    "roam": true,
                    "showLegendSymbol": true
                }
            ],
            "legend": [
                {
                    "data": [
                        "\u4e92\u8054\u7f51\u884c\u4e1a\u804c\u4f4d\u6570\u91cf\u5206\u5e03"
                    ],
                    "selectedMode": "multiple",
                    "show": true,
                    "left": "center",
                    "top": "top",
                    "orient": "horizontal",
                    "textStyle": {
                        "fontSize": 12
                    }
                }
            ],
            "animation": true,
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597",
                "#f6f5ec"
            ],
            "visualMap": {
                "type": "continuous",
                "min": 0,
                "max": 100,
                "text": [
                    "high",
                    "low"
                ],
                "textStyle": {},
                "inRange": {
                    "color": [
                        "#50a3ba",
                        "#eac763",
                        "#d94e5d"
                    ]
                },
                "calculable": true,
                "splitNumber": 5,
                "orient": "vertical",
                "left": "left",
                "top": "bottom",
                "showLabel": true
            }
        };
        myChart_b98861907f3d478096ff126047220a18.setOption(option_b98861907f3d478096ff126047220a18);

        </script>
{% endblock %}
