{% extends 'myapp/home.html' %}
{% load static %}
{% block jsmodel %}
    <script src="{% static 'myapp/js/capital_city_statistics_js.js' %}"></script>
{% endblock %}
{% block content %}
        <!--此处加载城市分布统计图-->
        <div class="content" id="content" style="width:800px;height:400px;"></div>
        <script type="text/javascript">
        var myChart_6ea04248aeec4f84bb62ba3f0a474243 = echarts.init(document.getElementById('content'), 'light', {renderer: 'canvas'});

        var option_6ea04248aeec4f84bb62ba3f0a474243 = {
            "title": [
                {
                    "text": "IT\u884c\u4e1a\u5c31\u4e1a\u9700\u6c42\u7edf\u8ba1\u56fe",
                    "left": "auto",
                    "top": "auto",
                    "textStyle": {
                        "fontSize": 18
                    },
                    "subtextStyle": {
                        "fontSize": 12
                    }
                }
            ],
            "toolbox": {
                "show": true,
                "orient": "vertical",
                "left": "95%",
                "top": "center",
                "feature": {
                    "saveAsImage": {
                        "show": true,
                        "title": "save as image"
                    },
                    "restore": {
                        "show": true,
                        "title": "restore"
                    },
                    "dataView": {
                        "show": true,
                        "title": "data view"
                    }
                }
            },
            "series_id": 1023596,
            "tooltip": {
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "textStyle": {
                    "fontSize": 14
                },
                "backgroundColor": "rgba(50,50,50,0.7)",
                "borderColor": "#333",
                "borderWidth": 0
            },
            "series": [
                {
                    "type": "bar",
                    "name": "Count",
                    "data": [
                        1841,
                        232,
                        920,
                        124,
                        167,
                        73,
                        346,
                        281,
                        452,
                        191,
                        104,
                        60,
                        435,
                        356,
                        145,
                        67,
                        178,
                        469,
                        258,
                        793,
                        51,
                        48,
                        550,
                        34,
                        28,
                        10,
                        0,
                        0,
                        12,
                        0,
                        30,
                        8,
                        12,
                        0
                    ],
                    "barCategoryGap": "20%",
                    "label": {
                        "normal": {
                            "show": false,
                            "position": "top",
                            "textStyle": {
                                "fontSize": 12
                            }
                        },
                        "emphasis": {
                            "show": true,
                            "textStyle": {
                                "fontSize": 12
                            }
                        }
                    },
                    "markPoint": {
                        "data": []
                    },
                    "markLine": {
                        "data": []
                    },
                    "seriesId": 1023596
                }
            ],
            "legend": [
                {
                    "data": [
                        "Count"
                    ],
                    "selectedMode": "multiple",
                    "show": true,
                    "left": "center",
                    "top": "top",
                    "orient": "horizontal",
                    "textStyle": {
                        "fontSize": 12
                    }
                }
            ],
            "animation": true,
            "xAxis": [
                {
                    "show": true,
                    "nameLocation": "middle",
                    "nameGap": 25,
                    "nameTextStyle": {
                        "fontSize": 14
                    },
                    "axisTick": {
                        "alignWithLabel": false
                    },
                    "inverse": false,
                    "boundaryGap": true,
                    "type": "category",
                    "splitLine": {
                        "show": false
                    },
                    "axisLine": {
                        "lineStyle": {
                            "width": 1
                        }
                    },
                    "axisLabel": {
                        "interval": "auto",
                        "rotate": 0,
                        "margin": 8,
                        "textStyle": {
                            "fontSize": 12
                        }
                    },
                    "data": [
                        "\u5317\u4eac",
                        "\u5929\u6d25",
                        "\u4e0a\u6d77",
                        "\u91cd\u5e86",
                        "\u77f3\u5bb6\u5e84",
                        "\u592a\u539f",
                        "\u897f\u5b89",
                        "\u6d4e\u5357",
                        "\u90d1\u5dde",
                        "\u6c88\u9633",
                        "\u957f\u6625",
                        "\u54c8\u5c14\u6ee8",
                        "\u5357\u4eac",
                        "\u676d\u5dde",
                        "\u5408\u80a5",
                        "\u5357\u660c",
                        "\u798f\u5dde",
                        "\u6b66\u6c49",
                        "\u957f\u6c99",
                        "\u6210\u90fd",
                        "\u8d35\u9633",
                        "\u6606\u660e",
                        "\u5e7f\u5dde",
                        "\u6d77\u53e3",
                        "\u5170\u5dde",
                        "\u897f\u5b81",
                        "\u53f0\u5317",
                        "\u547c\u54c8\u6d69\u7279",
                        "\u4e4c\u9c81\u6728\u9f50",
                        "\u62c9\u8428",
                        "\u5357\u5b81",
                        "\u94f6\u5ddd",
                        "\u9999\u6e2f",
                        "\u6fb3\u95e8"
                    ]
                }
            ],
            "yAxis": [
                {
                    "show": true,
                    "nameLocation": "middle",
                    "nameGap": 25,
                    "nameTextStyle": {
                        "fontSize": 14
                    },
                    "axisTick": {
                        "alignWithLabel": false
                    },
                    "inverse": false,
                    "boundaryGap": true,
                    "type": "value",
                    "splitLine": {
                        "show": true
                    },
                    "axisLine": {
                        "lineStyle": {
                            "width": 1
                        }
                    },
                    "axisLabel": {
                        "interval": "auto",
                        "formatter": "{value} ",
                        "rotate": 0,
                        "margin": 8,
                        "textStyle": {
                            "fontSize": 12
                        }
                    }
                }
            ],
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597",
                "#f6f5ec"
            ]
        };
        myChart_6ea04248aeec4f84bb62ba3f0a474243.setOption(option_6ea04248aeec4f84bb62ba3f0a474243);
        </script>
{% endblock %}
